/* Complete the CSS styling according to the provided design*/
h1 {
    color: rgba(32, 218, 144, 0.682);
}
body{
    background-image: url("../images/password.png");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

.fontColor {
    color: white; 

}
#message-el {
    font-style: italic;
}

#button-el{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}