/* Color Theme Swatches in Hex */
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-1-hex { color: #736C12; }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-2-hex { color: #F2D95C; }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-3-hex { color: #A64208; }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-4-hex { color: #592507; }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-5-hex { color: #BF0404; }

/* Color Theme Swatches in RGBA */
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-1-rgba { color: rgba(114, 108, 18, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-2-rgba { color: rgba(242, 217, 92, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-3-rgba { color: rgba(165, 66, 8, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-4-rgba { color: rgba(89, 37, 7, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-5-rgba { color: rgba(191, 3, 3, 1); }

/* Color Theme Swatches in HSLA */
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-1-hsla { color: hsla(56, 72, 26, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-2-hsla { color: hsla(50, 85, 65, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-3-hsla { color: hsla(22, 90, 34, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-4-hsla { color: hsla(22, 85, 18, 1); }
.interior-christmas.-magic-glowing-tree,-fireplace,-gifts-in--dark-5-hsla { color: hsla(0, 96, 38, 1); }

